<form action="/admin/equipment/{{equipment.id}}?_method=PUT" method="POST" 
   enctype="multipart/form-data" class="border border-3 border-dark mx-auto p-3 bg-light" id="form_panel">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Edit Equipment</h1>
  </div>
  {{> form}}
</form>