<h1 class="text-center ">器材後台</h1>
  <ul class="nav nav-tabs nav-fill bg-dark my-3 mx-auto" style="max-width:580px">
    <li class="nav-item ">
      <a class="nav-link {{#if equipments}} active {{/if}}" aria-current="page" href="/admin/equipments">Equipments</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link {{#if users}} active {{/if}}" href="/admin/users">Users</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link {{#if records}} active {{/if}}" href="/admin/records">Records</a>
    </li>
  </ul>