{{#if success_msg}}
<div class=" mx-auto alert alert-success alert-dismissible fade show text-center" role="alert" style="width: 340px;">
  {{success_msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if error_msg}}
    <div class="mx-auto alert alert-danger alert-dismissible fade show text-center" role="alert" style="width: 340px;">
    {{error_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
