<form class="row g-3" action='/admin/{{route}}'>
    <div class="col-auto">
      <input type="text" style="width:250px;" class="form-control" name = "email" value="{{ email }}" placeholder="請輸入Email">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">搜尋</button>
    </div>
  </form>