<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camera rent</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  {{!-- navbar --}}
  <container>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TWT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            {{#if isAuthenticated}}
            <li class="nav-item">
              <a class="nav-link" href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/records/">租借記錄</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">登出</a>
            </li>
          </ul>
          <h5 class="mb-0 me-5">歡迎，{{ user.name}}</h5>
          {{/if}}
        </div>
      </div>
    </nav>
  </container>



  {{{body}}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>