<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Camera rent</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/bootstrap.css"> --}}
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.css">
</head>

<body style="background-color:#fff345">
  {{!-- navbar --}}
  <container>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/SLRcamera">TWT器材租借網站</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            {{#if isAuthenticated}}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                器材種類
              </a>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/SLRcamera">相機</a></li>
                <li><a class="dropdown-item" href="/cameratripod">腳架</a></li>
                <li><a class="dropdown-item" href="/camera">攝影機</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/records/">租借記錄</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">登出</a>
            </li> 
          </ul>
          <h5 class="mb-0 me-5" id="username">歡迎，{{ user.name}}</h5>
          {{/if}}
        </div>
      </div>
    </nav>
  </container>



  {{{body}}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>