<div class="container-md mt-5 bg-primary border border-primary border-3 rounded-2" >
    <div class="mx-auto container-md p-3" >
        <h3 style="color: white;">TWT(運動傳播中心)</h3>
        <br>
        <p style="color: white;">由國立體育大學的休閒產業經營學系的學生組成，負責學生運動賽事的轉播及媒體經營。曾經轉播過JHBL乙組男子籃球、HFL五人制足球、全大運及全中運等賽事。</p>
        <p style="color: white;">聯絡電話 : 02-8888-8888</p>
        <p style="color: white;">公司地址 : 桃園市龜山區文化一路250號</p>
    </div>
</div>