<container>
    <div class="card text-center mx-auto my-5" style="width : 800px;">
        <div class="card-header">
            <h4>選擇取貨日期</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{category.name}}</h5>
            <img src="{{category.image}}" width="120" length="120"  alt="..." class="mx-auto">
                <h5 class="text-danger fw-bold mt-2">無法送出，日期選擇錯誤</h5>
                 <a href = '/show/{{category.id}}' class = 'btn btn-primary '>返回</a>
        </div>

    </div>
   
</container>