<container>
    <div class="card text-center mx-auto my-5" style="width : 450px;">
        <div class="card-header">
            <h4>TWT</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3 d-flex align-items-center">
                    <label for="inputAccount3" class="col-sm-2 col-form-label p-0">Account</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="account" id="inputAccount3"> 
                    </div>
                </div>
                <div class="row mb-3 d-flex align-items-center">
                    <label for="inputPassword3" class="col-sm-2 col-form-label p-0">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-lg">登入</button>
            </form>
        </div>
    </div>
</container>