<container>
    <div class="card text-center mx-auto my-5" style="width : 600px;">
        <div class="card-header">
            <h4>發生錯誤!</h4>
        </div>
        <div class="card-body">
            <h3 class='text-danger fw-bold my-3'>{{error.error}}</h3>
            <a href = '/' class = 'btn btn-primary '>返回</a>
        </div>
    </div>
</container>