<main>
    <div class="container mt-5" id="record_pannel">
        <div class="list-group">
            <div class="list-group-item list-group-item-action active text-center">
                <h5>你的租借紀錄</h5>
            </div>
            {{# each record}}
            <div class="list-group-item list-group-item-action list-group-item text-center" aria-current="true">
                <h5 >租借器材 : {{this.name}}</h5>
                <p class="my-2">租借數量 : {{this.quantity}}</p>
                <p class="my-2">請依預借日期前往實體店面租借</p>
                <small>預借日期: {{this.time}}</small>
                <p class="my-2"><strong>器材現況: {{this.status}}</strong></p> 
            </div>
            {{/each}}
            
            
        </div>
    </div>
</main>