<container>
    <div class="card text-center mx-auto my-5" style="width : 800px;">
        <div class="card-header">
            <h4>選擇取貨日期</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">canon 90D</h5>
            <img src="/images/Canon90D.jpg" width="120" length="120"  alt="..." class="mx-auto">
            <form>
                <p class="card-text mt-2">取貨日期需與今天相隔一天</p>
                <input type="datetime-local">
                <button type="submit" class="btn btn-secondary btn-sm">確定日期</button>
            </form>   
        </div>
    </div>
</container>