<container>
    <div class="card text-center mx-auto my-5" style="width : 600px;">
        <div class="card-header">
            <h4>加入會員</h4>
        </div>
        <div class="card-body">
            <form action="/users/sign_in" method="POST">
                <div class="row mb-3">
                    <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="name"id="inputName3" name="name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputAccount3" class="col-sm-2 col-form-label">Account</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="account" id="inputAccount3" name="account" required> 
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="email" name="email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="password" name="password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-lg">註冊</button>
            </form>
        </div>
    </div>
</container>