<div class="mt-2">
  <div class="col-md-4 m-auto" id="sign_up_panel">
    <div class="card card-body border border-dark border-2">
      <h1 class="text-center mt-3">Enter Validation</h1>
      <div style="height: 320px; overflow:auto;">
        <form action="/validate" method="POST">
          
          <div class="form-group my-3">
            <label for="validation">Validation</label>
            <input type="password" id="validation" name="validation" class="form-control" placeholder="Enter Validation"
            >
          </div>
          <button type="submit" class="btn btn-primary btn-block">confirm</button>
          <a class="btn btn-secondary ms-2" href="javascript:history.back()">Back</a>
        </form>
      </div>
    </div>
  </div>
</div>