.nav-link {
color:white;
}
#record_panel{
    width:360px;
}
#camera_panel{
    display:column;
    width:auto;
}
#category_panel{
    width:350px;
}


@media screen and (min-width:480px) {#record_panel{width:500px;}} 
@media screen and (min-width:480px) {#camera_panel{display:flex;width:800px;}}
@media screen and (min-width:480px) {#category_panel{width:600px;}}
@media screen and (min-width:480px) {#userName{display:none;}}
@media screen and (max-width:480px) {#login_panel{width:320px;}}
@media screen and (max-width:480px) {#sign_up_panel{width:320px;}} 
@media screen and (max-width:480px) {#username{display:none;color:white;}}  